        /* Document properties */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

header {
    background-color: lightblue;
    width: 100vw;
    height: 5vh;
}

header a, header nav {
    margin: 10px;
}

main {
    background-color: grey;
    width: 100vw;
    height: 90vh;
}

main h3 {
    width: 40vw;
}

main h3 {
    background-color: grey;
}

footer {
    background-color: blue;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


footer .media-link {
  height: 48px;
}

main .media-link {
  height: 408px;
}

/* Document properties */
/* html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
} */